<% if @feed_items.any? %>
	<ol class="microposts">
		<%= render partial: "shared/feed_item", collection: @feed_items %>
	</ol>
	<div class="micropost_paginate">
		<%= will_paginate @feed_items %>
	</div>
<% end %>