<li>
	<span class="content"><%= wrap(micropost.content) %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>
	<% target_micropst = micropost.object %>
	<%= render partial: "shared/delete_link",  locals: { object: micropost } %>
</li>